<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <h1><%= library.name %></h1>
<img src="/uploads/<%= library.image %>" alt="Library Image" width="300">
<p>Location: <%= library.location %></p>
<p>Address: <%= library.address %></p>
<p>Description:<%= library.description %></p>
<p>Seating:<%= library.hasSeating ? "Yes" : "No" %></p>
<p>Study Room Available:<%= library.hasStudyRoom ? 'Yes' : 'No' %></p>
<p>Operating Hours:<%= library.openTime %> - <%= library.closeTime %></p>
<p>Owner:<%= library.owner.username %></p>
<a href="/libraries/<%= library._id %>/edit">Edit</a>
<form action="/libraries/<%= library._id %>?_method=DELETE" method="POST">
  <button type="submit">Delete</button>
</form>
  
</body>
</html>


