<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= library.name %></title>
    <style>
      #map {
        height: 300px;
        width: 100%;
        margin-top: 20px;
      }
    </style>
  </head>
  <body>
    <h1><%= library.name %></h1>
    <img src="/uploads/<%= library.image %>" alt="Library Image" width="300" />
    <p>
      <strong>Location:</strong>
      Lat: <span id="lat"><%= library.location.lat %></span>, Lng:
      <span id="lng"><%= library.location.lng %></span>
    </p>
    <div id="map"></div>

    <p><strong>Address:</strong> <%= library.address %></p>
    <p><strong>Description:</strong> <%= library.description %></p>
    <p><strong>Seating:</strong> <%= library.hasSeating ? "Yes" : "No" %></p>
    <p>
      <strong>Study Room Available:</strong> <%= library.hasStudyRoom ? "Yes" :
      "No" %>
    </p>
    <p>
      <strong>Operating Hours:</strong> <%= library.openTime %> - <%=
      library.closeTime %>
    </p>
    <p><strong>Owner:</strong> <%= library.userId.username %></p>
    <p>
      <strong>Favorites:</strong> <%= library.favouritedByUser.length %> users
    </p>

    <% if (user && user._id.toString() === library.userId._id.toString()) { %>
    <a href="/libraries/<%= library._id %>/edit">Edit this library</a>
    <form action="/libraries/<%= library._id %>?_method=DELETE" method="POST">
      <button type="submit">Delete</button>
    </form>
    <% } %>

    <form action="/libraries/comments" method="POST">
      <input type="hidden" name="libraryId" value="<%= library._id %>" />
      <label for="comment">Leave a comment:</label>
      <textarea name="comment" id="comment"></textarea>
      <button type="submit">Add</button>
    </form>

    <h2>Comments:</h2>
    <ul>
      <% if (comments.length === 0) { %>
      <li>No comments yet.</li>
      <% } else { %> <% comments.forEach(comment => { %>
      <li>
        <strong><%= comment.userId.username %>:</strong>
        <%= comment.content %>
      </li>
      <% }) %> <% } %>
    </ul>

    <% if (user) { %> <% if (userHasFavourited) { %>
    <p>You have favourited this library!</p>
    <form
      action="/libraries/<%= library._id %>/favourited-by/<%= user._id %>?_method=DELETE"
      method="POST"
    >
      <button type="submit">Unfavourite it!</button>
    </form>
    <% } else { %>
    <form
      action="/libraries/<%= library._id %>/favourited-by/<%= user._id %>"
      method="POST"
    >
      <button type="submit">Favourite it!</button>
    </form>
    <% } %> <% } %>

    <a href="/libraries">Back to all libraries</a>

    <script>
      const lat = document.getElementById('lat').textContent
      console.log(lat)
      const lng = document.getElementById('lng').textContent
      console.log(lng)

      function initMap() {
        const location = {
          lat: Number(lat),
          lng: Number(lng)
        }
        const map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: location
        })
        new google.maps.Marker({
          position: location,
          map: map
        })
      }
    </script>
    <script
      async
      defer
      src="https://maps.googleapis.com/maps/api/js?key=<%=process.env.GOOGLE_MAPS_API_KEY%>&callback=initMap"
    ></script>
  </body>
</html>
