<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="/StyleSheet/Style.css" />

  <head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
      rel="stylesheet"
    />
    <title>Maktabati Home</title>
  </head>
  <body>
    <nav>
      <% if (user) { %>
      <div class="container-buttons">
        <img
          src="../uploads/logo2.png"
          alt="Logo"
          style="width: 120px; height: 100px"
        />
        <h1 id="main-title">Welcome <%= user.username %>!</h1>
      </div>
      <div class="container-buttons">
        <a href="/libraries/my-libraries">My Libraries</a>
        <a href="/libraries/new">Add Library</a>
        <a href="/auth/sign-out">Sign out</a>
        <a href="/auth/profile">
          <img
            src="/uploads/<%= user.profileImage %>"
            alt="Profile Image"
            style="width: 70px; height: 70px"
          />
        </a>
      </div>
      <% } else { %>
      <div class="container-buttons">
        <img
          src="../uploads/logo2.png"
          alt="Logo"
          style="width: 120px; height: 100px"
        />
        <h1 id="main-title">Maktabati</h1>
      </div>
      <div class="container-buttons">
        <a href="/auth/sign-up" class="button sign-up">Sign up</a>
        <a href="/auth/sign-in" class="button sign-in">Sign in</a>
      </div>

      <% } %>
    </nav>
    <div class="library-grid">
      <% libraries.forEach(library => { %>
      <div class="library-card">
        <img src="/uploads/<%= library.image %>" alt="Library Image" />
        <div class="library-info">
          <h2>
            <a href="/libraries/<%= library._id %>"><%= library.name %></a>
          </h2>
          <p class="library-description">
            <%= library.description || 'No description provided.' %>
          </p>
        </div>
      </div>
      <% }) %>
    </div>
  </body>
</html>
