<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="/StyleSheet/Style.css">

  <head>
    <meta charset="UTF-8" />
    <title>Maktabati Home</title>
    
  </head>
  <body>

    <nav>
      <% if (user) { %>
      <h1>Welcome <%= user.username %>!</h1>
      <img
        src="/uploads/<%= user.profileImage %>"
        alt="Profile Image"
        style="width: 100px; height: 100px"
      />
      <a href="/auth/sign-out">Sign out</a>
      <a href="/auth/profile">Edit Profile</a>
      <a href="/libraries/my-libraries">My Libraries</a>
      <a href="/libraries/new">Add Library</a>
      <% } else { %>
      <h1>Welcome to Maktabati!</h1>
<a href="/auth/sign-up" class="button sign-up">Sign up</a>
<a href="/auth/sign-in" class="button sign-in">Sign in</a>

      <% } %>
    </nav>

    <h2>All Libraries</h2>
    <div class="library-grid">
  <% libraries.forEach(library => { %>
    <div class="library-card">
      <img src="/images/<%= library.image %>" alt="Library Image">
      <a href="/libraries/<%= library._id %>"><%= library.name %></a>
    </div>
  <% }) %>
</div>
  </body>
</html>
